<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <div class="text-container"> 
          <p>
            My name is Katherine Muedas. A twenty-something Peruvian girl currently living in Park City-Utah (USA). I am web developer and I have a  passion for fashion, marketing and coding. I also Love travel.
          </p>
          <p>
            I have a bachelor degree in Business Management, after finishing the university I decided to take a programming course based on Ruby on Rails. I am so happy of that decision because I found a new way to express my ideas, my thoughts , my dreams and express myself.  
          </p>
      
        </div>
      </div>
      <div class="col-lg-4">
        <h4>Skills:</h4>
        <p>Frameworks:</p>
        <p>
        <span class="label label-primary">- Ruby on Rails</span>
        </p>
        <p> Languages: </p>
        <p>
          <span class="label label-primary">HTML</span>
          <span class="label label-primary">CSS</span>
          <span class="label label-primary">SCSS</span>
          <span class="label label-primary">JavaScript</span>
          <span class="label label-primary">CoffeeScript</span>
          <span class="label label-primary">jQuery</span>
          <span class="label label-primary">HAML</span>
        </p>
        <p>Database:</p>
        <p>
          <span class="label label-primary">PostgresSQL</span>
        </p>
        <p>Ruby Gems:</p>
        <p>
          <span class="label label-primary">Simple Form</span>
          <span class="label label-primary">Devise</span>
          <span class="label label-primary">Figaro</span>
          <span class="label label-primary">Better Errors</span>
          <span class="label label-primary">Guard</span>
          <span class="label label-primary">Paper Clip</span>
          <span class="label label-primary">Friendly_id</span>
          <span class="label label-primary">Xray-rails</span>
          <span class="label label-primary">Geocoder</span>
          <span class="label label-primary">Public_activity</span>
        </p>
        <p>Tools:</p>
        <p>
          <span class="label label-primary">Git</span>
          <span class="label label-primary">Pry</span>
          <span class="label label-primary">RVM</span>
          <span class="label label-primary">Sublime Text</span>
          <span class="label label-primary">ZSH</span>
          <span class="label label-primary">iTerm</span>
          <span class="label label-primary">Foundation</span>
          <span class="label label-primary">Bootstrap 3</span>
          <span class="label label-primary">Font-awesome</span>
          <span class="label label-primary">CodeClimate</span>
          <span class="label label-primary">Gemnasium</span>
        </p>  
        <p>Testing:</p>
        <p>
          <span class="label label-primary">RSpec</span>
          <span class="label label-primary">MiniTest</span>
          <span class="label label-primary">Capybara</span>
          <span class="label label-primary">Factory Girl</span>
          <span class="label label-primary">Ffaker</span>
          <span class="label label-primary">Simplecov</span>
        </p>  
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>