<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Welcome to my portfolio</span>
          <%= image_tag "profilepic.jpg", alt: "profile picture", class: "img-responsive circle-image"%>
          <hr class="star-light">
          <span class="skills">Web Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>