// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-inner {
  min-height: 350px;
  background-color: black;
  .item{
    padding-top: 15px;
  }
}