%title Katherine Muedas - Web development
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%meta{:content => "Ruby on Rails developer and fashion lover. Programming is a way to express my ideas, my thoughts, my dreams and express myself ", :name => "description"}/
%meta{:content => "", :name => "author"}/
%link{:href => "https://fonts.googleapis.com/css?family=Handlee", :rel => "stylesheet", :type => "text/css"}/
/ %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
/ %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
/[if lt IE 9]
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application'  , 'data-turbolinks-track' => true
= csrf_meta_tags
