<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body id="page-top" class="index">
    <%= render "layouts/navigation" %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
