<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body id="page-top" class="index">
    <%= render "layouts/navigation" %>
    <div class='main'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>
